.pest-identifier {
	padding: 3em 0;
	background-image: url("./images/houses.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;

	.picker-heading {
		text-align: center;
		margin-bottom: 1em;
		color: white;
	}

	.pest-picker {
		margin: 0 auto;
		max-width: 70em;

		.pest {
			display: inline-block;
			width: 49.5%;
			background: -moz-linear-gradient(top, $light-grey 0%, $grey 60%, black 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, $light-grey 0%, $grey 60%, black 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, $light-grey 0%, $grey 60%, black 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-grey', endColorstr='$dark-grey',GradientType=0 ); /* IE6-9 */
			margin-bottom: 0.5%;
			vertical-align: top;
			cursor: pointer;
			border-radius: 0.4em;
			box-shadow: 0.2em 0.2em 1em #2b2d42;
			text-decoration: none;

			&:hover {
				background: -moz-linear-gradient(top, $dark-grey 0%, $grey 60%, $light-grey 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, $dark-grey 0%, $grey 60%, $light-grey 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, $dark-grey 0%, $grey 60%, $light-grey 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-grey', endColorstr='$dark-grey',GradientType=0 ); /* IE6-9 */
			
				.pest-type {
					color: white;
				}
			}

			.pest-type {
				text-align: center;
				color: $dark-blue;
				line-height: 1.8em;
			}

			.pest-image {
				width: 100%;
			}
		}
	}
}

@media #{$large-up} { 

	.pest {
		width: 32.6% !important;
	}

}