<div class="about-us__row">

	<h2 class="about-us__heading">Who we are.</h2>

	<p class="about-us__text">Here at BW Pest Solutions, our life's work is to eliminate your stress when it comes to pests. Since 2010 we have successfully protected homes, businesses, industrial sites, and municipalities from all kinds nasty pests.<br><br>

	We use the latest techniques, and even innovate technology to keep downtimes and cleanups to a minimum, if any at all. We care about the environment, that's why we offer organic pest controll solutions. Above all we keep the critters from coming back.</p>
	
</div>

<div class="about-us__row">

	<h2 class="about-us__heading">What we promise.</h2>

	<div class="about-us__tile">
		<h4 class="tile__heading">Comitment...</h4>
		<p class="tile__text">to bringing you piece of mind, because we understand how stressful and devestating an infestation can get.</p>
		<img class="tile__image" alt="stacked stones" src="./images/peace.jpg">
	</div>

	<div class="about-us__tile">
		<h4 class="tile__heading">Safety...</h4>
		<p class="tile__text">by removing pests without harming you, your children, your pets, your patrons, and the environment.</p>
		<img class="tile__image" alt="family" src="./images/family.jpg">
	</div>

	<div class="about-us__tile">
		<h4 class="tile__heading">Responsibility...</h4>
		<p class="tile__text">through transparency, and delivering the results you deserve. If you have an issue we will do our best to take care of it.</p>
		<img class="tile__image" alt="shaking hands" src="./images/handshake.jpg">
	</div>

	<div class="about-us__tile">
		<h4 class="tile__heading">Education...</h4>
		<p class="tile__text">by giving you the knowlege to prevent an infestation from accuring in the first place, and how prepare for your current pest.</p>
		<img class="tile__image"  alt="knowledge transfer" src="./images/education.jpg">
	</div>
	
</div>


