<div class="footer-container">
	
	<div class="footer-container-buttonbar">
		<a class="button action footer-container-phone-number_float" href="tel:804-901-1218">
				<img class="button-icon" src="./images/phone-call.svg" onerror="this.onerror=null; this.src='./images/phone-call.png'">804-901-1218
		</a>

		<a class="button action footer-container-email_text" href="mailto:Ewhiting@BWPestsolutions.com" >
				<img class="button-icon" src="./images/email-send.svg" onerror="this.onerror=null; this.src='./images/email-send.png'">Email Us
		</a>
	</div>

	<div class="footer-container-credentials">
		<span class="footer-container-span_text">BW Pest Solutions&trade; all rights reserved 2016.</span>	
	</div>
		
</div>
