<div class="pest-picker">
	<h1 class="picker-heading">What have you seen?</h1>

	<a ui-sref="bugs" class="pest"> 
		<h3 class="pest-type">Bugs</h3>
		<img class="pest-image" src="./images/bed-bug.jpg">
	</a>
	<a ui-sref="birds" class="pest"> 
		<h3 class="pest-type">Birds</h3>
		<img class="pest-image" src="./images/crow.jpg">
	</a>
	<a ui-sref="mamals" class="pest"> 
		<h3 class="pest-type">Mammals</h3>
		<img class="pest-image" src="./images/squirrel.jpg">
	</a>
	<a ui-sref="fungi" class="pest"> 
		<h3 class="pest-type">Reptiles</h3>
		<img class="pest-image" src="./images/snake.jpg">
	</a>
	<a ui-sref="reptiles" class="pest"> 
		<h3 class="pest-type">Fungi</h3>
		<img class="pest-image" src="./images/fungus.jpg">
	</a>
	<a href="#not-sure" class="pest"> 
		<h3 class="pest-type">Not Sure?</h3>
		<img class="pest-image" src="./images/not-sure.jpg">
	</a>
</div>