header {
	margin-top: 0.35em;
}

nav {

	ul {
		margin: 0;
    	padding: 0;

		li {
			display: inline-block;
			width: calc(96.5% / 4);
			text-align: center;
		}
	}
}

@media #{$small-only} { 

	#logo {
		width:100%;
		display: block;
	}

	nav {
		li {
			margin: 1.5% 0;
		}
	}

}

@media #{$medium-only} { 

	#logo {
		width:100%;
		display: block;
	}

	nav {

		li {
			margin: 1.5% 0;
			font-size: 1.2em;
		}
	}
}

@media #{$large-up} { 

	#logo {
		width:49%;
		display: inline-block
	}

	nav {
		width:50%;
		display: inline-block;
		vertical-align: top;

		li {
			margin-top: 3%;
		}
	}

}