.contact-form {
	background-image: url("./images/wasp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    width: 100%;
    height: 32em;
    padding-top: 1.7em;
    color: white;

    .form-container {
    	margin: 0 auto;
	    width: 24em;
	    padding: 1.2em;
	    border-radius: .4em;
	    background-color: rgba(43, 45, 66, 0.7)
    }
}