.contact-form {
	background-image: url("./images/wasp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    width: 100%;
    padding: 3em 0;
    color: white;

    .form-container {
    	margin: 0 auto;
        width: 40em;
        padding: 3em;
        background-color: rgba(00, 00, 00, 0.85);
    }
}

@media #{$xsmall-only} { 

    .form-container {
        width: 100% !important;
        border-radius: 0 !important;
        padding: .5em !important;
        font-size: 0.93em;
    }

}

@media #{$small-only} { 

    .form-container {
        width: 100% !important;
        border-radius: 0 !important;
    }

}