.residential-banner {
	background-image: url("./images/houses.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    width: 100%;
    color: white;

    .banner-heading {
    	text-align:center;
    	display: block;
    	margin: 1em;
    }
}

.service-heading {
	text-align:center;
	display: block;
	margin: 0 auto;
	padding: 2em 0;
	background-color: black;
	color: white;
}