.residential-banner {
	background-image: url("./images/houses.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    width: 100%;
    height: 40em;
    color: white;
}