<div class="about-us__row--top">

	<h2 class="about-us__heading">Who We Are</h2>

	<ul class="about-us__list">
		<li class="list-item">Since 2010 BW Pest Solutions has protected homes, businesses, industrial sites, and municipalities from all kinds of infestations. We strive for perfection, and our clients notice it.</li>
		<li class="list-item">We use the latest techniques, and even innovate technology to keep downtime and cleanups to a minimum, if any at all.</li>
		<li class="list-item">We care about the environment, that's why we offer organic pest control solutions.</li>
		<li class="list-item">Above all we keep the critters from coming back with by-monthly, monthly, and yearly checkups.</li>
	</ul>
	
</div>

<div class="about-us__row--bottom">

	<h2 class="about-us__heading">What We Promise</h2>

	<div class="about-us__tile-container">

		<div class="tile-container__tile">
			<h4 class="tile__heading">Commitment...</h4>
			<p class="tile__text">to bringing you piece of mind. We understand how stressful and devastating an infestation can get.</p>
			<img class="tile__image" alt="stacked stones" src="./images/peace.jpg">
		</div>

		<div class="tile-container__tile">
			<h4 class="tile__heading">Safety...</h4>
			<p class="tile__text">by removing pests without harming you, your children, your pets, your patrons, and the environment.</p>
			<img class="tile__image" alt="family" src="./images/family.jpg">
		</div>

		<div class="tile-container__tile">
			<h4 class="tile__heading">Responsibility...</h4>
			<p class="tile__text">in delivering the results you deserve. If you have an issue we will do our best to take care of it.</p>
			<img class="tile__image" alt="shaking hands" src="./images/handshake.jpg">
		</div>

		<div class="tile-container__tile">
			<h4 class="tile__heading">Education...</h4>
			<p class="tile__text">to give you back control of your situation. And prevent possible future outbreaks.</p>
			<img class="tile__image"  alt="knowledge transfer" src="./images/education.jpg">
		</div>

	</div>
	
</div>


