$light-grey: #edf2f4; //rgba(237, 242, 244, 100)
$grey: #8d99ae; //rgba(141, 153, 174, 100)
$dark-grey: #2b2d42; //rgba(43, 45, 66, 100)

$red: #ef233c; //rgba(239, 35, 60, 100)
$dark-red: #d90429; //rgba(217, 4, 41, 100)

$lightest-blue: #00a6fb; //rgba(0, 166, 251, 100)
$light-blue: #0582ca; //rgba(5, 130, 202, 100)
$blue: #006494; //rgba(0, 100, 148, 100)
$dark-blue: #003554; //rgba(0, 53, 84, 100)
$darkest-blue: #051923; //rgba(5, 25, 35, 100)

// We use these functions to get the ranges for the media queries variables. 
@function lower-bound($range){
    @if length($range) <= 0 {
        @return 0;
    }
    @return nth($range,1);
}

@function upper-bound($range) {
    @if length($range) < 2 {
        @return 999999999999;
    }
    @return nth($range, 2);
}

// Here we define the breakpoints which will become the upper border for each media size.
$xsmall-range: (0em, 25em); /* 0, 320px */
$small-range: (25em, 40em); /* 0, 640px */
$medium-range: (40em, 64em); /* 641px, 1024px */
$large-range: (64em, 90em); /* 1025px, 1440px */
$xlarge-range: (90em, 120em); /* 1441px, 1920px */
$xxlarge-range: (120em); /* 1921px */

// Media Queries
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$xsmall-up: $screen !default;
$xsmall-only: "#{$screen} and (max-width: #{upper-bound($xsmall-range)})" !default;

$small-up: "#{$screen} and (min-width:#{lower-bound($small-range)})" !default;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})" !default;

$retina: (
  "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
  "#{$screen} and (min--moz-device-pixel-ratio: 2)",
  "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
  "#{$screen} and (min-device-pixel-ratio: 2)",
  "#{$screen} and (min-resolution: 192dpi)",
  "#{$screen} and (min-resolution: 2dppx)"
);

html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.5;
  color: #051923;
  -webkit-font-smoothing: antialiased; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 2.36859em;
  line-height: 1.5;
  margin:0; }

h2 {
  font-size: 1.83288em;
  line-height: 1.5;
  margin:0; }

h3 {
  font-size: 1.77689em;
  line-height: 1.5;
  margin:0; }

h4 {
  font-size: 1.375em;
  line-height: 1.5;
  margin:0; }

h5 {
  font-size: 1.333em;
  line-height: 1.5;
  margin:0; }

h6 {
  font-size: 1.03151em;
  line-height: 1.5;
  margin:0; }

a,
a:hover,
a:visited,
a:active {
  color: #d90429;
  text-decoration: none; }

a:hover,
a:active,
a:focus {
  text-decoration: underline; }

label {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
}

%button-base {
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0.6em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  transition: all 75ms ease-in-out;
  i {
    font-size: .8em;
  }
}

@mixin button($color, $background, $hover-background) {
  color: $color;
  background-color: $background;
  border-color: $background;

  &:hover{
      // just in case this is a link, don't underline the text
      text-decoration:none;
      background-color: $hover-background;
  }

  &[disabled] {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';   /* IE 8 */
    opacity: .5;
  }
}

a.button,
button,
[role=button].oui-button, {

  @extend %button-base;

  // Action button
  &.action {
    @include button(#ffffff,$light-blue,$blue);
  }

  // Regressive button
  &.regressive{
    @include button(#ffffff,$grey,$dark-grey);
  }

  // Destructive button
  &.destructive {
    @include button(#ffffff,$red,$dark-red);
  }

}


select, textarea, input {
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #CFCCCF;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #021829;
  line-height: 1.5;
  margin: 0;
  padding: 0.35em;
  position: relative;
  width: 100%;
  transition: border-color .350s ease;
  outline: 0; }
  textarea[disabled], textarea[readonly], fieldset[disabled] textarea, input[disabled], input[readonly], fieldset[disabled] input {
    background-color: #FAF8F9;
    border-color: #CFCCCF;
    cursor: not-allowed;
    opacity: 0.5; }
  select[disabled], select[readonly], fieldset[disabled] select{
    background-color: #FAF8F9;
    border-color: #CFCCCF;
    cursor: not-allowed;
    opacity: 1; 
  }
  .error select, .error textarea, .error input, .error .form-select-span{
    border-color: #D03027; }
  .success select, .success textarea, .success input, .success .form-select-span{
  border-color: #0ea218; }

input:focus,
input:active,
textarea:focus,
textarea:active {
  border-color: #019ED5; }

textarea {
  height: auto; }

select {
  padding-right: 2em;
  text-indent: .01px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none; }
  select:focus, select:active {
    outline: none; }

.form-group {
  margin-bottom: 0.8em;
  position: relative; }

.form-select-span {
  position: relative;
  display: block;
  overflow: hidden;
  border: 2px solid #CFCCCF;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transition: border-color .350s ease; 
  width: 100%;}
  .form-select-span select {
    border: 0;
    border-radius: 0; }
  .form-select-span:after {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAJCAYAAADDylfFAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDozQUIxMzcxMjIyNkQxMUU0QkY3NDkwQTI0QTQ3REIwQyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDozQUIxMzcxMzIyNkQxMUU0QkY3NDkwQTI0QTQ3REIwQyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjA2REVDNTZCMjI2RDExRTRCRjc0OTBBMjRBNDdEQjBDIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjA2REVDNTZDMjI2RDExRTRCRjc0OTBBMjRBNDdEQjBDIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+tnNhDAAAAN9JREFUeNpi/P//PwO9AGNyStolIM0OxH5z58y6SUgDUL06kNoExD/nzJ6pR4plTEDMAcRqQHwMaJANAYtA8seg6jlI9RnIMnsgPg/EQkC8F2hgBA6LQOJ7oerOQ/WRZhkw6J4DaVsg3gbEbEC8HGhwBZpFIP5yqDxInS1UH2lxhmQgM5CaDMSZUKHZQJwHxJOAOBUqNh2Ic4EW/QVxSE1cjFiCqwRIdUO5b4FYGMouBVrSg6yWYsugFoYAqcXQRPADiGOBFq1BV0cVy6AWWgGpOUCcArToGDY1pFoGEGAAO8JJd4v/HhcAAAAASUVORK5CYII=");
    font-size: .625em;
    height: 1em;
    line-height: 1;
    margin-top: -.4em;
    position: absolute;
    right: 0;
    top: 50%;
    pointer-events: none; }
  .form-select-span[disabled] {
    opacity: 0.5;
  }
  .form-select-span.selectFocus {
    border-color: #019ED5;
    outline: 0; }